.DS_Store
.next
.nuxt
.pnpm-debug.log*
cache
coverage
dist
node_modules
tsconfig.tsbuildinfo
*.vitest-temp.json
.turbo

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.envrc
**/test**

# subgraph type generation
**/subgraphs/**/documents/**/*.ts

.idea
.mcp.json
.npmrc
